<%- include('../partials/header.ejs')%>

<div class="main">
  <h1><%= group.title%></h1>
  <h3 class="info">
    <b>Owned by: <%=group.owner.firstName%> <%=group.owner.lastName%></b>
    <br>
    <b>Group ID: <%= group.id %></b>
  </h3>
  <h2>Members:</h2>
  <% if (group.members.length) { %> <% group.members.forEach(member => { %>
  <%=member.firstName%> <%=member.lastName%> <% }) %> <% } else { %>
  <h3>There are no members to display.</h3>
  <% } %>
  <h2>Chores:</h2>
  <% if (group.chores.length) { %> <% group.chores.forEach(chore => { %>
  <%=chore.title%> <%=chore.points%> <%=chore.deadline%> <% }) %> <% } else { %>
  <h3>There are no chores to display.</h3>
  <% } %>

  <form class="groupForm">
    <%if(user == group.owner._id) { %>
    <button
      type="submit"
      formmethod="GET"
      formaction="/groups/<%= group.id %>/choreForm"
    >
      Add Chores
    </button>
    <button
      type="submit"
      formmethod="GET"
      formaction="/groups/<%= group.id %>/edit"
    >
      Edit Group
    </button>
    <button
      type="submit"
      formmethod="POST"
      formaction="/groups/<%= group.id %>?_method=DELETE"
    >
      Delete Group
    </button>
    <%} %>
    <button
      type="submit"
      formmethod="POST"
      formaction="/groups/<%= group.id %>"
    >
      Leave Group
    </button>
    <!-- needs work -->
  </form>
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>

<%- include('../partials/footer.ejs')%>
