<%- include('../partials/header.ejs')%>

<div class="main" style="padding-left: 100px; padding-right: 100px;">
  <br><h1><%= group.name%></h1>
  <img src="/images/team.png" alt="group standing together" class="signUpImageRight" style="width: 200px; margin-right: -200px; margin-top: -90px;">
  <p class="groupsHeaders"><b>Owned By:</b> <%=group.owner.firstName%> <%=group.owner.lastName%></p>
  <p class="groupsHeaders"><%if(user == group.owner._id) { %> <b>Group ID:</b> <%= group.id%> <% } %></p>
  <h2>Members:</h2>
  <% if (group.members.length) { %> <% group.members.forEach(member => { %>
  <p style="font-size: 20px; padding-left: 20px;"><%=member.firstName%> <%=member.lastName%></p> <% }) %> <% } else { %>
  <h3 style="padding-left: 20px;">There are no members to display.</h3>
  <% } %>
  <h2>Chores:</h2>
  <table align="left" class="profile">
    <thead>
      <tr class="tableTitles">
        <th class="tableTitles">Chore</th>
        <th class="tableTitles">Points</th>
        <th class="tableTitles">Due</th>
        <th class="tableTitles">Assigned To</th>
      </tr>
    </thead>
    <tbody>
      <% if (chores.length ) { chores.forEach(chore => { %>
        
      <tr>
        <td class="chores"><%=chore.title%></td>
        <td class="chores"><%=chore.points%></td>
        <td class="chores"><%=chore.deadline%></td>
        <td class="chores"><%=chore.assignedTo.email%> <% }) %></td>
      </tr>
      <% } else { %>
      <tr>
        <td colspan="4" class="groups">There are no chores to display.</td>
      </tr>
      <% } %>
    </tbody>
  </table>

  <h2 class = "leaderboardTitle">Leaderboard:</h2>
  <table align = "right" class="profile" style="width: auto;">
    <thead>
        <tr class = "tableTitles">
            <th class = "tableTitles">Position</td></th>
            <th class = "tableTitles">Name</th>
            <th class = "tableTitles">Points</th>
        </tr>
    </thead>
    <tbody>
      <% let position = 1 %>
      <% if (members.length) { %> <% members.forEach(member => { %>
        <tr>
            <td class = "chores"><%=position++ %></td>
            <td class = "chores"><%=member.firstName%> <%=member.lastName%></td>
            <td class = "chores"><%=member.score%></td> <!--0 is the placeholder for points-->
        </tr>
      <% }) } else {%>
        <tr>
          <td colspan="3" class="leaders">Add members to your group to see the leaderboard.</td>
        </tr>
      <% } %>
    </tbody>
  </table>
</br>
  
</br>
  <form class="groupForm">
    <%if(user == group.owner._id) { %>
    <button
      type="submit"
      formmethod="GET"
      formaction="/groups/<%= group.id %>/choreForm"
    >
      Add Chores
    </button>
    <button
      type="submit"
      formmethod="GET"
      formaction="/groups/<%= group.id %>/edit"
    >
      Edit Name
    </button>
    <button
      type="submit"
      formmethod="POST"
      formaction="/groups/<%= group.id %>?_method=DELETE"
    >
      Delete Group
    </button>
    <button type="button" align="right" onclick="reset()">Reset Leaderboard</button>
    <script>
      function reset() {
        //placholder function for resetting leaderboard
      }
    </script>
    <%} %>
    <button
      type="submit"
      formmethod="POST"
      formaction="/groups/leaveGroup/<%=group.id %>"
    >
      Leave Group
    </button>
    <!-- needs work -->
  </form>
  <br/><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>

<%- include('../partials/footer.ejs')%>
