<%- include('../partials/header.ejs')%>
<div class="main">
  <h1>Create A New Chore!</h1>

  <form class="forms" action="/groups/<%=group.id %>/chores" method="POST">
    <input type="hidden" name="assignedBy" value="<%=group.id%>" />
    <table>
      <tr>
        <td>
          <label for="title"><b>Chore Title:</b></label>
        </td>
        <td>
          <input
            type="text"
            id="title"
            name="title"
            class="fixed-width"
            required
          />
        </td>
      </tr>
      <tr>
        <td>
          <label for="assignedToMembers"><b>Assigned To:</b></label>
        </td>
        <td>
          <select name="assignedTo" id="assignedToMembers" class="fixed-width">
            <% if (assignedToMembers.length) {%> <%
            assignedToMembers.forEach((member)=> {%>
            <option value="<%= member.id %>">
              <%=member.firstName%> <%=member.lastName%>
            </option>
            <% })} %>
          </select>
        </td>
      </tr>

      <tr>
        <td>
          <label for="points"><b>Points:</b></label>
        </td>
        <td>
          <input type="number" name="points" id="points" />
        </td>
      </tr>
      <tr>
        <td>
          <label for="members"><b>Deadline:</b></label>
        </td>
        <td>
          <input type="date" name="deadline" class="fixed-width" />
        </td>
      </tr>
      <tr>
        <td><button type="submit">Create Chore</button></td>
      </tr>
    </table>
  </form>
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>
<%- include('../partials/footer.ejs')%>
