<%- include('../partials/header.ejs')%>
<div class="main">
  <h1>Create A New Chore!</h1>

  <form class="forms" action="/groups/<%=group.id %>/chores" method="POST">
    <input type="hidden" name="assignedBy" value="<%=group.id%>" />
    <table>
      <tr>
        <td>
          <label for="title"><b>Chore Title:</b></label>
        </td>
        <td>
          <input type="text" id="title" name="title" class="fixed-width" required/>
        </td>
      </tr>
      <tr>
        <td>
          <label for="assignedToMembers"><b>Assigned To:</b></label>
        </td>
        <td>
          <select name="assignedTo" id="assignedToMembers" class="fixed-width">
            <% if (assignedToMembers.length) {%> <%
            assignedToMembers.forEach((member)=> {%>
            <option value="<%= member.id %>">
              <%=member.firstName%> <%=member.lastName%>
            </option>
            <% })} %>
          </select>
        </td>
      </tr>

      <tr>
        <td>
          <label for="points"><b>Points:</b></label>
        </td>
        <td>
          <input type="number" name="points" id="points" />
        </td>
      </tr>
      <tr>
        <td>
          <label for="members"><b>Deadline:</b></label>
        </td>
        <td>
          <input type="date" name="deadline" class="fixed-width" />
        </td>
      </tr>
      <td>
        
        <script>
          function ShowHideDiv(chkPassport) {
              var dvPassport = document.getElementById("dvPassport");
              dvPassport.style.display = chkPassport.checked ? "block" : "none";
          }
          function walkDog(){
          var txt = "Walk the dogs";
          document.getElementById("title").value = txt;
        }
        function feedDogs(){
          var txt = "Feed the dogs";
          document.getElementById("title").value = txt;
        }
        function vac(){
          var txt = "Vacuum the house";
          document.getElementById("title").value = txt;
        }
        function trash(){
          var txt = "Take the trash out";
          document.getElementById("title").value = txt;
        }
        function bathroom(){
          var txt = "Clean the bathroom";
          document.getElementById("title").value = txt;
        }
        function sweep(){
          var txt = "Sweep the house";
          document.getElementById("title").value = txt;
        }
        function gutters(){
          var txt = "Clean the gutters";
          document.getElementById("title").value = txt;
        }
        function dishes(){
          var txt = "Wash the dishes";
          document.getElementById("title").value = txt;
        }
        function laundry(){
          var txt = "Fold the laundry";
          document.getElementById("title").value = txt;
        }
        function bed(){
          var txt = "Make the bed";
          document.getElementById("title").value = txt;
        }
      </script>
      <label for="chkPassport">
          <input type="checkbox" id="chkPassport" onclick="ShowHideDiv(this)" />
          Add preset chores:
      </label>
      <hr />
      
      <div id="dvPassport" style="display: none">
        <input type="radio" id="chkPassport" name ="rad" onclick="walkDog()" />
        <label for="dog chores">Walk the dogs</label>

          <input type="radio" id="chkPassport" name="rad" onclick="feedDogs()" />
          <label for="dog chores">Feed the dogs</label>
            <br>
          <input type="radio" id="chkPassport" name="rad" onclick="trash()" />
          <label for="Vaccuum">Take trash out</label>
          <input type="radio" id="chkPassport" name="rad" onclick="vac()" />
          <label for="Vaccuum">Vaccuum the house</label>
            <br>
          <input type="radio" id="chkPassport" name="rad" onclick="bathroom()" />
          <label for="Bathroom">Clean the bathroom</label>
          <input type="radio" id="chkPassport" name="rad" onclick="sweep()" />
          <label for="Sweep">Sweep the house</label>
            <br>
          <input type="radio" id="chkPassport" name="rad" onclick="gutters()" />
          <label for="gutters">Clean the gutters</label>
          <input type="radio" id="chkPassport" name="rad" onclick="dishes()" />
          <label for="dishes">Wash the dishes</label>
            <br>
          <input type="radio" id="chkPassport" name= "rad" onclick="laundry()" />
          <label for="laundry">Fold the laundry</label>
          <input type="radio" id="chkPassport" name="rad" onclick="bed()" />
          <label for="MakeTheBed">Make the bed</label>      
      </div>
      </td>
      </tr>
      <tr>
        <td><button type="submit">Create Chore</button></td>
      </tr>
    </table>
  </form>
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>
<%- include('../partials/footer.ejs')%>
