<%- include('../partials/header.ejs')%>

<div class="main">
  <br />
  <h1>Chores</h1>
  <h2>Chore History</h2>
  <br />
  <table class="profile">
    <tr class="tableTitles">
      <td class="tableTitles"><b>Task</b></td>
      <td class="tableTitles"><b>Points</b></td>
      <td class="tableTitles"><b>Due</b></td>
    </tr>
    <% if(completedChores.length) { completedChores.map(({id, title,
    assignedToName, assignedByName, points, deadline, markCompleted}) => { %>
    <tr>
      <td class="chores"><input type="checkbox" /><%=title%>checked</td>
      <td class="chores"><%=points%></td>
      <td class="chores"><%=deadline %></td>
    </tr>
    <%})} else { %>
    <h3>There are no completed chores to display.</h3>
    <% } %>
    <br />
  </table>
  <h2>To Do</h2>
  <br />
  <table class="profile">
    <tr class="tableTitles">
      <td class="tableTitles"><b>Task</b></td>
      <td class="tableTitles"><b>Points</b></td>
      <td class="tableTitles"><b>Due</b></td>
    </tr>
    <% if(todoChores.length) { todoChores.map(({id, title, assignedToName,
    assignedByName, points, deadline}) => { %>
    <tr>
      <td class="chores"><input type="checkbox" /> <%=title%></td>
      <td class="chores"><p><%=points%></p></td>
      <td class="chores"><p><%= deadline %></p></td>
    </tr>
    <%})} else { %>
    <h3>There are no chores to do.</h3>
    <% } %>
  </table>
  <br /><br /><br /><br /><br /><br /><br />
</div>

<%- include('../partials/footer.ejs')%>
