<%- include('../partials/header.ejs')%>

<div class="main">
  <h1><%=user.firstName%>'s Profile</h1>

  <h2 class="profile">Name: <%=user.firstName%> <%=user.lastName%></h2>
  <h2 class="profile">Email: <%=user.email%></h2>
  <h2 class="profile">Need to change your password? <a href="/users/resetPasswordForm">Reset Password</a></h2><br>
  <h2 class="profile"><%=user.firstName%>'s Groups</h2>

  <table class="profile">
    <thead>
      <tr class="tableTitles">
        <th class="tableTitles"><b>Group</b></th>
        <th class="tableTitles"><b>Actions</b></th>
      </tr>
    </thead>
    <tbody>
      <tr class="tableTitles">
        <td class="tableTitles">
          <b><%=user.firstName%> <%=user.lastName%></b>
        </td>
        <td class="tableTitles"><b><%=user.email%></b></td>
      </tr>
    </tbody>
  </table>

  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>

<%- include('../partials/footer.ejs')%>
