<%- include('../partials/header.ejs')%>

<div class="main">
  <h1><%=user.firstName%>'s Profile</h1>

  <table class="profile">
    <thead>
      <tr class="tableTitles">
        <th class="tableTitles"><b>Name</b></th>
        <th class="tableTitles"><b>Email</b></th>
        <th class="tableTitles"><b>Password?</b></th>
      </tr>
    </thead>
    <tbody>
      <tr class="tableTitles">
        <td class="tableTitles">
          <b><%=user.firstName%> <%=user.lastName%></b>
        </td>
        <td class="tableTitles"><b><%=user.email%></b></td>
        <td class="tableTitles">
          <b><a href="/users/resetPasswordForm">Reset Password</a></b>
        </td>
      </tr>
    </tbody>
  </table>

  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>

<%- include('../partials/footer.ejs')%>
