<%- include('../partials/header.ejs')%>

<div class="main">
  <h1><%=user.firstName%>'s To Do</h1>

  <h1><%=user.firstName%>'s Leaderboard</h1>
  <table class="profile">
    <tr class="tableTitles">
      <td class="tableTitles"><b>Crawl</b></td>
      <td class="tableTitles"><b>Category</b></td>
      <td class="tableTitles"><b>Going?</b></td>
    </tr>
  </table>
  <h2>1. <%=user.firstName%></h2>
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>

<%- include('../partials/footer.ejs')%>
