<%- include('../partials/header.ejs')%>

<div class="main">
  <h1><%=user.firstName%>'s Profile</h1>
  <img src="/images/profile.png" alt="cleaning graphics" class="profileImg">
  <p class="choresHeader">Information:</p>
  <p class="groupsHeaders" style="padding-left: 300px;"><b>Name:</b> <%=user.firstName%> <%=user.lastName%></p>
  <p class="groupsHeaders" style="padding-left: 300px;"><b>Email:</b> <%=user.email%></p>
  <p class="choresHeader">Actions:</p>
  <h2 class="profile">Need to change your password? <a href="/users/resetPwform">Reset Password</a></h2><br />
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>

<%- include('../partials/footer.ejs')%>
