<%- include('../partials/header.ejs')%>

    <div class="main">
        <h1><%= crawls.title%></h1>
        <h2><%=crawls.category%> Bar Crawl</h2>
        <img class="connectionImg" src="<%=crawls.image%>" alt="Bar Crawl Image">
        <p class="info"><b>Hosted by: <%=crawls.host.firstName%>  <%=crawls.host.lastName%></b></p>
        <p>Date: <%=crawls.date%></p>
        <p>Starts at: <%=crawls.startTime%></p>
        <p>Ends at: <%=crawls.endTime%></p>
        <p>Meet at: <%=crawls.location%></p>
        <h2>Details</h2>
        <p><%=crawls.details%></p> 
        <%if(user == crawls.host._id) { %>
            <form class="forms">
                <button type="submit" formmethod="GET" formaction="/connections/<%= crawls.id %>/edit">Edit</button>
                <button type="submit" formmethod="POST" formaction="/connections/<%= crawls.id %>?_method=DELETE">Delete</button>
            </form> <br><br><br><br>
        <%} else {
            let count = 0;
            rsvps.forEach(rsvp=>{
                if(rsvp.status == "Yes") {
                    count++;
                }
            });%>
            <h3><%=count%> members RSVP'd</h3>
            <h3>RSVP to attend!</h3>
            <form class="forms">
                <button type="submit" formmethod="POST" name="rsvp" value="Yes" formaction="/connections/<%= crawls.id %>/rsvp">Yes</button>
                <button type="submit" formmethod="POST" name="rsvp" value="No" formaction="/connections/<%= crawls.id %>/rsvp">No</button>
                <button type="submit" formmethod="POST" name="rsvp" value="Maybe" formaction="/connections/<%= crawls.id %>/rsvp">Maybe</button>
            </form>
        <%}%>
        
    </div>
    
<%- include('../partials/footer.ejs')%>
<%- include('../partials/header.ejs')%>

    <div class="main">
        <h1><%= crawls.title%></h1>
        <h2><%=crawls.category%> Bar Crawl</h2>
        <img class="connectionImg" src="<%=crawls.image%>" alt="Bar Crawl Image">
        <p class="info"><b>Hosted by: <%=crawls.host.firstName%>  <%=crawls.host.lastName%></b></p>
        <p>Date: <%=crawls.date%></p>
        <p>Starts at: <%=crawls.startTime%></p>
        <p>Ends at: <%=crawls.endTime%></p>
        <p>Meet at: <%=crawls.location%></p>
        <h2>Details</h2>
        <p><%=crawls.details%></p> 
        <%if(user == crawls.host._id) { %>
            <form class="forms">
                <button type="submit" formmethod="GET" formaction="/connections/<%= crawls.id %>/edit">Edit</button>
                <button type="submit" formmethod="POST" formaction="/connections/<%= crawls.id %>?_method=DELETE">Delete</button>
            </form> <br><br><br><br>
        <%} else {
            let count = 0;
            rsvps.forEach(rsvp=>{
                if(rsvp.status == "Yes") {
                    count++;
                }
            });%>
            <h3><%=count%> members RSVP'd</h3>
            <h3>RSVP to attend!</h3>
            <form class="forms">
                <button type="submit" formmethod="POST" name="rsvp" value="Yes" formaction="/connections/<%= crawls.id %>/rsvp">Yes</button>
                <button type="submit" formmethod="POST" name="rsvp" value="No" formaction="/connections/<%= crawls.id %>/rsvp">No</button>
                <button type="submit" formmethod="POST" name="rsvp" value="Maybe" formaction="/connections/<%= crawls.id %>/rsvp">Maybe</button>
            </form>
        <%}%>
        
    </div>
    
<%- include('../partials/footer.ejs')%>
